.Container-class {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-top: 20px; /* Add some space at the top */
    width: 100vw;
    height: 100vh;
  }
  
  .copy-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; 
    max-width: 600px; 
    padding: 10px; 
    margin-bottom: 20px; /* Add space between the link container and Board */
  }
  
  
.board-wrapper{
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
}