.Container-class {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-top: 20px; /* Add some space at the top */
    width: 100vw;
    height: 100vh;
  }
  
.copy-link-container {
  display: flex;
  align-self:flex-end;
  align-items: center;
  position: relative;
  width: 100%; 
  max-width: 600px; 
  margin-bottom: 5px;
}

#copy-link-button{
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(191, 208, 223);
}


.copied-alert-message{
  position: absolute;
  border: 2px solid black;
  border-radius: 4px;
  z-index: 9999;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);            /* move the element by 50% of its own width */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  animation: fadeOut 3s ease-in-out forwards;    /* fadeout effect */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.board-wrapper{
    width: 100%;
    max-width: 900px;
}